.product_women-main {
    position: relative;
    height: 724px;
    width: 597px;
    background: url("../img/product/product-women.jpg") 0 0 no-repeat;
    margin-left: 300px;
}

.product_women {
    background: #F7F7F7;
    height: 777px;
    border: 1px solid #EAEAEA;
}

.main_product {
    margin-top: -30px;
}

.main_product-info {
    width: 1141px;
    height: 600px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    top: 935px;
    margin-bottom: 129px;
}

.main_info-heading {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    padding-left: 497px;
    padding-top: 64px;
    padding-bottom: 12px;
    border-bottom: 3px solid #EF5B70;
}

.main_info-headingBig {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    padding-top: 12px;
    padding-left: 442px;
    padding-bottom: 48px;
}

.main_info-txt {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    width: 555px;
    padding-left: 292px;
    padding-bottom: 32px;
}

.main_info-price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    padding-left: 531px;
    padding-bottom: 65px;
    border-bottom: 1px solid #EAEAEA;
}

.catalog_details-product {
    padding-left: 372px;
}

.button_product-info {
    font-family: "Lato";
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background: #ffffff;
    border: 1px solid #FF6A6A;
    padding: 14.5px 38.5px;
    text-align: center;
    justify-content: center;
    margin-top: 48px;
    margin-left: 464px;
    margin-bottom: 64px;
}